.loading {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.99);
  z-index: 1000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  place-items: center;

  color: white;
  opacity: 1;
  pointer-events: all;
  touch-action: all;

  transition: opacity 0.3s ease-out 0.5s;

  &.done {
    opacity: 0;
    pointer-events: none;
    touch-action: none;
  }

  .text {
    display: flex;
    max-width: 90%;
    text-align: center;
    flex-direction: column;
    align-items: center;
    font-family: "Montserrat", sans-serif;

    h1 {
      font-size: clamp(2rem, 2rem + 1.5vw, 4rem);
      text-transform: uppercase;
      font-weight: 200;

      animation-name: fade-in;
      animation-delay: 0.2s;
      animation-duration: 0.4s;
      animation-timing-function: ease-in-out;
      animation-fill-mode: backwards;
    }

    h3 {
      animation-name: fade-in;
      animation-delay: 0.6s;
      animation-duration: 0.4s;
      animation-timing-function: ease-in-out;
      animation-fill-mode: backwards;
      font-weight: 100;
    }
  }

  .progress {
    margin-top: 1rem;
    display: grid;
    place-items: center;

    animation-name: fade-in;
    animation-delay: 1s;
    animation-duration: 0.4s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: backwards;

    .buttons {
      display: flex;
      flex-direction: column;
      gap: 1rem;

      opacity: 0;
      pointer-events: none;
      touch-action: none;

      transition: opacity 0.25s ease-in-out 0.25s;

      &.loaded {
        opacity: 1;
        pointer-events: all;
        touch-action: all;
      }
    }

    button {
      // position: absolute;
      cursor: pointer;

      font-family: "Montserrat", sans-serif;
      appearance: none;
      border: 1px solid white;
      outline: none;
      color: white;
      background-color: rgba(255, 255, 255, 0);
      text-transform: uppercase;
      padding: 1rem 1.5rem;

      // animation-name: fade-in;
      // animation-delay: 1s;
      // animation-duration: 0.4s;
      // animation-timing-function: ease-in-out;
      // animation-fill-mode: backwards;

      transition: background-color 0.2s ease-in-out;

      &:first-of-type:hover,
      &:first-of-type:focus {
        background-color: rgba(255, 255, 255, 0.2);
      }

      &:nth-of-type(2) {
        border: none;
        font-size: 0.8rem;
        font-weight: 300;
        padding: 0;
        text-transform: lowercase;
        text-decoration: underline;
      }
    }

    h3 {
      position: absolute;
      opacity: 1;

      font-family: "Montserrat", sans-serif;
      text-transform: lowercase;
      font-weight: 400;
      font-size: 1rem;

      transition: opacity 0.25s ease-in-out;

      &.loaded {
        opacity: 0;
        pointer-events: none;
        touch-action: none;
      }
    }

    &.loaded {
      button {
        opacity: 1;
        pointer-events: all;
        touch-action: all;
      }

      h1 {
        opacity: 0;
      }
    }
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
