.hero {
  position: absolute;
  bottom: 2.5rem;
  z-index: 15;

  .text {
    color: white;
  }

  h1,
  h3 {
    opacity: 0;
    animation: fadeIn 1s ease-in-out forwards;
  }

  h1 {
    text-transform: uppercase;
    font-size: clamp(2.5rem, 2rem + 2vw, 5rem);
    font-weight: 300;
  }

  h3 {
    text-transform: lowercase;
    font-weight: 200;
    font-size: 1.5rem;

    animation-delay: 0.5s;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.8;
  }
}
